<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>درباره</h5>
        <p>
        ما، لاگ کرمان، با آموزش، پشتیبانی و ترویج نرم‌افزارهای آزاد (مانند سیستم‌عامل گنو/لینوکس) برای ارتقای استفادهٔ آگاهانه و هوشمندانه از رایانه‌ها در جامعه تلاش می‌کنیم. ماهانه نشست‌هایی را تشکیل می‌دهیم و اگر فرصتش پیش بیاید جشن‌ها و همایش‌هایی را برگزار می‌کنیم. همواره به دوستان جدید در لاگ خوش‌آمد می‌گوییم. برای تماس با ما به hello روی دامنه klug.ir رایانامه بفرستید.
        </p>
    </div>
</div>
