/*==================================
=            Muut Commenting System            =
==================================*/
.m-focused .m-postinput, .m-replyform .m-preview .m-post {
	direction: rtl;
}
.m-focused .m-postinput {
	border-color: transparent !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	transition: all 0.2s ease 0s !important;
	-o-transition: all 0.2s ease 0s !important;
	-webkit-transition: all 0.2s ease 0s !important;
	-moz-transition: all 0.2s ease 0s !important;
}


.m-page {
	padding: 1.4em 0 0 0 !important;
}

.m-post-upload em {
	color: #7E7E7E !important;
	margin: .2em !important;
}
.m-show-help {
	
	color: #7E7E7E !important;
}

.m-postinput {
	border-color: 0.5px solid #f5f5f5;
	color: #2d2d2d;
}

.moot button {
	background-color: #fff !important;
	color: #3c3b3b !important;
}

.m-postinput, .m-focused .m-postinput {
	padding-right: 30px !important;
}

#moot-logo {
	padding: 0 !important;
}

.is-commenting .m-like, #moot-logo a {
	display: none !important;
}

.is-commenting .m-replyform {
	margin-top: -2em !important;
	margin-bottom: -6.2em;
	}

.m-preview .m-preview-title {
	   margin: auto !important;
}

.m-controls button {
	border-radius: 0px !important;
	background-color: #fff !important;
	border:0.5px solid #f5f5f5 !important;
}

.m-button:hover, .moot button:hover {
	background-color: #fff !important;
	background-image:none !important;
	box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/*=====  End of Muut  ======*/
