/* How to RTL this theme: the main part of RTLing work is done by
 * https://cdnjs.com/libraries/bootstrap-rtl
 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css');

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    font-family: 'Vazir', 'arial', 'ubuntu' !important;
    font-size: 18px !important;
}

.navbar-brand,
.nav > li {
    font-size: 22px !important;
    font-weight: 400 !important;
}


/*RTLing*/
.navbar-right,
.navbar-toggle {
    float: left !important;
}

.fa {
    padding-left: 5px;
    padding-right: auto;
}

pre {
    direction: ltr;
}

.list-inline {
    margin-right: 22px !important;
}

/*Header Height*/
.navbar-default {
    padding: 6px 0 !important;
}

/*Colorizing*/
body {
    background-color: #000 !important
}

.navbar-default {
    background-color: #FFEB3B !important;
    border-color: #FFEB3B !important;
}

footer {
    background-color: #111 !important;
}

footer,
footer a {
    color: #fff !important;
}

footer .social-media .fa {
    color: red  !important;
}

.navbar-brand {
    color: #000 !important;
}

.navbar-toggle,
.navbar-collapse {
    border-color: #000 !important;
}

.btn-custom {
    background-color: #FFEB3B !important;
    border-color: #FBC02D !important;
    color: #000 !important;
}

.content-card {
    /*background-color: #ffffff;*/
    border-top: 3px solid #FBC02D !important;
}

.card {
    /*background-color: #ffffff;*/
    border-top: 3px solid #FBC02D !important;
}

/*header in hover*/
.navbar-nav > li > a {
    color: #000 !important;
}

 .nav>li {
    border-top: 6px solid #FFEB3B !important;
}

 .nav>li:hover {
    border-top: 6px solid #FFEB3B !important;
    background-color: #fff;
}

.navbar-nav > li > a:hover {
    color: #000 !important;
}

    .nav>li {
        margin: 0 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

.content-card .tags a:hover {
    background-color: #FFEB3B !important;
    color: #000 !important;
}

a {
    color: #D19500 !important;
}

h1 a,
.posts-recent li a {
    color: #333 !important;
}

.content-card .tags a {
    /*using default colors*/
    color: #fff !important;
}

pre {
    background: rgba(0,0,0,.15) !important;
}

/* Added for 404 page*/
.not-found {
    margin-bottom: -41px;
 }
 
/*====================Muut====================*/
.m-page a {
    color: #E5E5E5 !important;
}

.m-post-upload em {
    color: #E5E5E5 !important;
    margin: .2em !important;
}

.m-postinput {
    box-shadow: 0 0 .2em #E5E5E5 inset !important;
    border-color: #E5E5E5 !important;
    color: #E5E5E5;
}

.moot button {
    background-color: #E5E5E5 !important;
    color: #000 !important;
}

.m-postinput, .m-focused .m-postinput {
    padding-right: 30px !important;
}

#moot-logo {
    padding: 0 !important;
}

.is-commenting .m-like, #moot-logo a {
    display: none !important;
}

.is-commenting .m-replyform {
    margin-top: -2em !important;
    margin-bottom: -6.2em;
    }
    
   .m-preview .m-preview-title {
       margin: auto !important;
}

/*====================EXTRA elements====================*/ 
/* Use '<ltr>something_here</ltr>' where you need to show something from left side to right */
ltr {
    direction: ltr;
}
